*.safetensors filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
# Enforce LF for code and configuration stability
*.py filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
# Protect AI Model / Tokenizer data from being modified
**/RoBERTa_PII_*/** filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text 
**/RoBERTa_PII_*/*.txt filter=lfs diff=lfs merge=lfs -text
